#include "appinfo.h"
#include "winids.h"

#include <winresrc.h>

IDI_MAINICON ICON "icon/terminal.ico"

IDD_MAINBOX DIALOG DISCARDABLE 48, 32, 256, 152
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configuration"
FONT 8, "MS Shell Dlg"
CLASS "ConfigBox"
BEGIN
END

/*
 * The actual VERSIONINFO resource.
 */
VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,0,0,0
PRODUCTVERSION 0,0,0,0 /* version of whole suite */
FILEFLAGSMASK VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PRIVATEBUILD
FILEFLAGS 0
#if defined DEBUG
  | VS_FF_DEBUG
#endif
#if defined SNAPSHOT
  | VS_FF_PRERELEASE
#elif !defined RELEASE
  | VS_FF_PRIVATEBUILD
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0 /* n/a for VFT_APP */
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    /* "lang-charset" LLLLCCCC = (UK English, Unicode) */
    BLOCK "080904B0"
    BEGIN
      VALUE "CompanyName", "Andy Koppe"
      VALUE "ProductName", APPNAME
      VALUE "FileDescription", APPDESC
      VALUE "InternalName", APPNAME
      VALUE "OriginalFilename", APPNAME
      VALUE "FileVersion", VERSION
      VALUE "ProductVersion", VERSION
      VALUE "LegalCopyright", COPYRIGHT
#if (!defined SNAPSHOT) && (!defined RELEASE)
        /* Only if VS_FF_PRIVATEBUILD. */
      VALUE "PrivateBuild", VERSION /* NBI */
#endif
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
  /* Once again -- same meanings -- apparently necessary */
    VALUE "Translation", 0x809, 1200
  END
END

#ifndef NO_MANIFESTS
1 RT_MANIFEST "app.mft"
#endif /* NO_MANIFESTS */
